p {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  display: inline;
}
a:link {
  color: #FF0000;
}
a:hover {
  text-decoration: underline;
}
.headline {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: block;
}
.byline {
  color: #666600;
  font-style: italic;
  font-weight: bold;
  display: inline;
}
